.about h1{
  margin: 50px 0 0px 100px;
}

.about h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;

}

.aboutContainer {
  padding: 40px 160px;
}

.aboutParagraph p {
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 500;
}

.aboutParagraph img {
 width: 200px;
  border-radius: 5%;
  float: left;
  margin: 0 15px 0 0;
}

/* .aboutContent {
  display: flex;
  width: 100%;
} */

