.aboutContainer h1 {
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.aboutContainer {
  padding: 40px 160px;
}

.aboutParagraph p {
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 500;
}

.aboutParagraph img {
  border-radius: 5%;
  float: left;
}

.AboutUs-content {
  display: flex;
}

.AboutHistory,
.AboutGoal,
.Aboutproduct {
    margin: 0 10px;
    background-color: rgb(229, 228, 228);
}

/* .history-img {
  width: 340px;
} */

.history-content {
  padding: 10px 0;
}
.history-content h1{
  font-size: 19px;
}