.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: rgba(238, 238, 238, 0.981);
}
.newsletter-wrapper {
    width: 500px;
    height: 100%;
    padding: 30px 0 0;
    text-align: center;
}

.newsletter-heading h1 {
  padding: 30px 0;
  font-size: 30px;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-weight: bold;
  border-bottom: 1px solid #b3e140;
  ;
}

.newsletter-heading p {
  text-align: center;
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: 500;
}

.newsletter-email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px ;
}

.newsletter-email input,
button {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #b3e140;
  margin: 0 5px 0 0;
}

.newsletter-email button {
  font-size: 16px;
  letter-spacing: 2px;
  padding: 7px 18px;
  background-color: #9b9b9b;
  color: #b3e140;
  font-weight: bold;
}

.newsletter-email button:hover {
  letter-spacing: 4px;
  transition: 1s ease-out;
}