.logo img {
  width: 250px;
}

.navbar {
  padding-top: 0;
  display: contents;
}

.navbar-wrapper {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 90px;
  background: #b3e140;
  padding: 0 50px;
  justify-content: space-between;
}

.navbar-links {
  margin-bottom: 0;
}

.navbar-links a {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 10px;
  color: rgb(68, 72, 67);

}

a {
  list-style: none;
  text-decoration: none;
}