#cards {
  display: flex !important;
  justify-content: space-around;
}
.card {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #9a9a9a69;
  border-radius: 20px;

}

.cards-wrapper {
  display: flex;
  justify-content: center;
  width: 340px;
}

.card-imgPro {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    width: 340px;
    height: 340px;

}
.card-imgPro img{
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #b3e140;
  border-radius: 5%;


}

.card>.content {
  /* margin-top: 100px; */
  /* border: 1px solid #b3e140; */
  border-radius: 5px;
  margin-top: 10px;
  height: 100%;
  padding: 20px 35px;
  text-align: left;
}

.content h3 {
  font-size: 22px;
   height: 40px;
}

.content a {
  color: rgb(0, 0, 0);
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: bold;

}




.card button {
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: rgba(232, 19, 19, 0.705);
  color: white;
  outline: none;
}




.content-product {
  padding: 0 0 20px;
  width: 100%;
  height: auto;
}
.content span {
  color: rgb(240, 105, 1);
  font-weight: bold;
  letter-spacing: 2px;
}





.card button {
  padding: 0.6rem 2rem;
  border: none;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  color: #b3e140;
  outline: none;
}

.card button:hover {
  letter-spacing: 2px;
  color: #40e140;
  background-color: rgb(240, 240, 240);
  ;
}